@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --wrapper-width: 969px;
  --paper-width: 830px;
  --paper-top-height: 126px;
  --paper-height: calc(297mm - 55px);
}

* {
  margin: 0;
  padding: 0;
  color: #070626;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #e1e0db;
  background-image: url(../img/bg.jpg);
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

section {
  margin: 50px;
}

h1 {
  font-size: 2rem;
  line-height: 1.75rem;
  vertical-align: text-top;
  color: rgba(7, 6, 38, 0.85);
}

h2 {
  width: 170px;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #4a76a8;
}

h3 {
  font-size: 0.8rem;
  text-align: right;
  color: #4a76a8;
  font-weight: 500;
}

#wrapper,
.wrapper-top,
.wrapper-mid,
.wrapper-bottom {
  width: var(--wrapper-width);
  margin: 0 auto;
}

#wrapper {
  margin: 10px auto 10px;
}

.wrapper-top {
  height: 15px;
  background-image: url(../img/btop.jpg);
  background-repeat: no-repeat;
}

.wrapper-mid {
  background-image: url(../img/bmid.jpg);
  background-repeat: repeat-y;
  padding-bottom: 35px;
}

.wrapper-bottom {
  height: 15px;
  background-image: url(../img/bbottom.jpg);
  background-repeat: no-repeat;
}

#paper,
.paper-top,
#paper-mid,
.paper-bottom {
  width: var(--paper-width);
  margin: 0 auto;
}

.paper-top {
  background-image: url(../img/ptop.jpg);
  background-repeat: no-repeat;
  height: var(--paper-top-height);
}

#paper-mid {
  display: block;
  height: var(--paper-height);
  background-image: url(../img/pmid.jpg);
  background-repeat: repeat-y;
  overflow: hidden;
}

.paper-bottom {
  width: var(--paper-width);
  height: 18px;
  margin: 0 auto;
  background-image: url(../img/pbottom.jpg);
  background-repeat: no-repeat;
}

.fa-file-pdf,
.fa-vk,
.fa-whatsapp {
  color: rgba(7, 6, 38, 0.75);
}

.fa-ul {
  margin-left: 1.5rem;
}

.fa-li i {
  color: #4a76a8;
}

section.info,
section.education ul li,
section.experience ul li,
.tech,
.langs {
  display: grid;
  grid-template-columns: 170px auto;
  grid-gap: 50px;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 1rem;
}

section.info {
  align-items: stretch;
}

.portrait {
  background-image: url(../img/frame.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 25px 10px 38px;
  margin-top: -12px;
  width: 150px;
}

.contacts-container {
  display: grid;
  grid-template: auto auto / 4fr 2fr;
}

.contact-info {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links {
  margin-top: 10px;
  justify-self: end;
}

.links li {
  display: inline-block;
  padding: 0 5px;
  transition: 0.25s;
}

.links li:hover {
  transform: scale(1.35);
}

.specialty i {
  color: grey;
  display: block;
  font-size: 0.8rem;
}

.tech ul,
.langs ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  height: 90px;
}

.tech ul {
  height: 60px;
}

.tech ul li,
.langs ul li {
  min-width: 100px;
  padding: 5px 0;
}

@media (max-width: 960px) {
  /* :root {
    --wrapper-width: 740px;
    --paper-width: 628px;
    --paper-top-height: 95px;
    --paper-height: calc(297mm - 45px);
  } */

  :root {
    --wrapper-width: 100vw;
    --paper-width: 85vw;
    --paper-top-height: calc(var(--paper-width) * 0.15);
    --paper-height: auto;
  }

  #wrapper,
  .wrapper-top,
  .wrapper-mid,
  .wrapper-bottom,
  #paper,
  .paper-top,
  #paper-mid,
  .paper-bottom {
    background-size: 100%;
  }

  .wrapper-top {
    height: calc(var(--paper-width) * 0.02);
  }

  .links li {
    padding: 0 3px;
  }

  .tech ul li,
  .langs ul li {
    min-width: 200px;
  }
}

@media (max-width: 700px) {
  /* :root {
    --wrapper-width: 340px;
    --paper-width: 290px;
    --paper-top-height: 44px;
    --paper-height: auto;
  } */

  /* .wrapper-top {
    height: 12px;
  } */

  .wrapper-mid {
    padding-bottom: 10px;
  }

  h1 {
    font-size: 1rem;
    line-height: 0.9rem;
  }

  h2 {
    width: 90px;
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
  }

  h3 {
    font-size: 0.4rem;
  }

  section {
    margin: 20px;
  }

  section.info,
  section.education ul li,
  section.experience ul li,
  .tech,
  .langs {
    grid-template-columns: 90px auto;
    grid-gap: 20px;
    margin-bottom: 1rem;
    font-size: 0.5rem;
  }

  .contact-info {
    margin-left: 0.8rem;
  }

  .links {
    margin: 0;
  }

  .links li {
    display: block;
    padding: 1px 0;
    font-size: 0.5rem;
    text-align: center;
  }

  .specialty i {
    color: grey;
    display: block;
    font-size: 0.4rem;
  }

  .portrait {
    padding: 14px 5px 18px;
    margin-top: -10px;
    width: 80px;
  }

  .tech,
  .langs {
    font-size: 0.5rem;
  }

  .langs ul {
    height: 60px;
    margin-left: 0.9rem;
  }

  .tech ul {
    height: 40px;
    margin-left: 0.9rem;
  }

  .tech ul li,
  .langs ul li {
    min-width: 75px;
  }
}
